<h1>All content</h1>
<ul>
  <li>
    Simple linear regression
  </li>
  <li>
    Multiple linear regression
    <ul>
      <li>Categorical variables</li>
      <li>One hot encoding</li>
      <li>The dummy variable trap</li>
      <li>Non-correlated variables</li>
      <li>Back propagation</li>
    </ul>
  </li>
</ul>